/* google font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: #000;
}


:root {
    --MAIN-COLOR: #0DB75E;
    --FM: "McLaren", sans-serif;
    --FS-1: 50PX;
    --FS-2: 30px;
    --FS-3: 25px;
    --FS-4: 15px;
}

/* general styles */
.container {
    padding: 0 15%;
}

.header {
    font-family: var(--FS-FAMILY);
    font-weight: 600;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    height: 50px;
    z-index: 5;
    position: fixed;
    top: 0;
    width: 100%;
}

.square {
    background-color: var(--MAIN-COLOR);
    color: white;
    padding: 10px 17px;
    border-radius: 5px;
    margin-right: 5px;
    height: 100%;
    font-size: var(--FS-2);
    text-transform: lowercase;
}

.logo {
    font-size: var(--FS-3);
    color: var(--MAIN-COLOR);
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 25px;
    padding: 10px 0;
}

.link-wrapper a {
    color: #000;
    text-transform: capitalize;
    font-size: var(--FS-4);
}

.btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0.3rem 0.5rem;
    border-radius: 10px;
    font-family: "McLaren", sans-serif;
    font-weight: 550;
    font-style: normal;
    letter-spacing: 0.5px;
    height: 50px;
    width: 150px;
}

.btn-outline-success {
    border: 2.3px solid var(--MAIN-COLOR);
    color: #000;
}

.btn-success {
    background-color: var(--MAIN-COLOR);
    color: white;
}

.btn-success a {
    color: white;
}

.d-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.home-grid {
    height: calc(100vh - 50px);
    align-items: center;
}

.image-container {
    height: 400px;
    border: 1px solid black;
}

.text-wrap {
    font-family: var(--FS-FAMILY);
    letter-spacing: 0.3px;
}

.greeting {
    font-size: var(--FS-2);
}

.title {
    font-size: var(--FS-1);
}

.description {
    font-size: var(--FS-4);
    color: rgba(0, 0, 0, 0.6);
    margin-top: 10px;
    margin-bottom: 20px;
}

.text-green {
    color: var(--MAIN-COLOR);
}

.dot {
    border-radius: 50%;
    position: absolute;
    z-index: -10;
}
.point-1 {
    width: 12px;
    height: 12px;
}

.point-2 {
    width: 8px;
    height: 8px;
}

.black-dot {
    background-color: #000;
}

.green-dot {
    background-color: var(--MAIN-COLOR);
}

.red-dot {
    background-color: red;
}

.blue-dot {
    background-color: blue;
}

.yellow-dot {
    background-color: yellow;
}

.pos-1 {
    top: 70px;
    left: 15px;
}

.pos-2 {
    top: 150px;
    left: 550px;
}

.pos-3 {
    top: 20px;
    left: 350px;
}

.pos-4 {
    top: 80px;
    left: 460px;
}

.pos-5 {
    top: 20px;
    left: 560px;
}

.pos-6 {
    bottom: 120px;
    left: 160px;
}

.pos-7 {
    bottom: 100px;
    left: 100px;
}

.pos-7 {
    bottom: 50px;
    left: 100px;
}

.pos-8 {
    bottom: 250px;
    left: 150px;
}

.pos-9 {
    bottom: 200px;
    left: 100px;
}

.pos-10 {
    top: 180px;
    left: 50px;
}

.pos-11 {
    top: 10px;
    left: 50px;
}

.pos-12 {
    top: 70px;
    left: 605px;
}

.pos-13 {
    top: 250px;
    left: 550px;
}

.pos-14 {
    bottom: 50px;
    left: 350px;
}

.pos-15 {
   top: 100px;
    left: 60px;
}

.pos-16 {
   bottom: 10px;
    left: 160px;
}


.scroll-up {
    background-color: var(--MAIN-COLOR);
    width: 50px;
    position: fixed;
    right: calc(13% - 50px);
    bottom: 50px;
    padding: 15px 5px;
    text-align: center;
    cursor: pointer;
}

.social-media {
    position: absolute;
    right: calc(12% - 150px);
    top: 300px;
    transform: rotateZ(90deg);
}

.fa {
    background-color: var(--MAIN-COLOR);
    margin: 10px;
    padding: 5px 10px;
    color: white;
    border-radius: 7px;
    transform: rotateZ(-90deg);
    cursor: pointer;
}