/* import font */



/* Variables */
:root {
    /*colors*/
    --primary-color: #D57E4F;
    --secondary-color: #000;
    --light-color: #534A4A;
    --desktop-gradient-color: linear-gradient(90deg, #F5F5DC 38%, #A2A297 100%);
    --mobile-gradient-color: linear-gradient(180deg, #F5F5DC 38%, #A2A297 100%);

    /*Typography*/
    --font-family: 'Inter', sans-serif;
    --fs-xs: 10px;
    --fs-sm: 14px;
    --fs-l: 18px;
    --fs-xl: 24px;
    --line-height: 1.5px;

    /*spacingg*/
    --spacing-sm: 6px;
    --spacing-md: 9px;
    --spacing-lg: 14px;

    /*border-radius*/
    --border-radius-md: 8px;
    --border-radius-lg: 16px;

    /*shadows*/
    --shadow-md: 0px 3px 6px rgba(0, 0, 0, 0.15);
    --shadow-lg: 0px 5px 10px rgba(0, 0, 0, 0.2);

    --inside-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.15);


    /*logo*/
    --width-sm: 54px;
    --width-md: 60px;
    --width-lg: 70px;

    /*card */
    /**image width**/
    --card-img-width-sm: 60px;
    --card-img-width-md: 70px;
    --card-img-width-lg: 80px;
    /**card width**/
    --card-width-sm: 250px;
    --card-width-md: 300px;
    --card-width-lg: 350px;

    /*max-width*/

    /*containers*/
    --max-width-xs-container: 320px;
    /* Extra Small (Phones) */
    --max-width-sm-container: 480px;
    /* Small (Larger Phones) */
    --max-width-md-container: 768px;
    /* Medium (Tablets) */
    --max-width-lg-container: 1024px;
    /* Large (Laptops) */
    --max-width-xl-container: 1280px;
    /* Extra Large (Desktops) */
    --max-width-xxl-container: 1440px;
    /* 2K Screens */

    /*contents*/
    --max-width-content-xs: 280px;
    /* Extra Small Screens */
    --max-width-content-sm: 480px;
    /* Small Screens (Phones) */
    --max-width-content-md: 640px;
    /* Medium Screens (Tablets) */
    --max-width-content-lg: 800px;
    /* Large Screens (Laptops) */
    --max-width-content-xl: 960px;
    /* Extra Large Screens (Desktops) */
    --max-width-content-xxl: 1200px;
    /* 2K+ Screens */
}

/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    margin: 10px 0;
}

h1,
h2 {
    color: var(--primary-color);
}

h1 {
    font-size: var(--fs-xl);
    letter-spacing: 0.3px;
}

h2 {
    font-size: var(--fs-l);
}

h3,
h4 {
    font-size: var(--fs-md);
}

h3 {
    font-weight: bolder;
}

h4,
p,
li {
    font-size: var(--fs-sm);
}

ul {
    list-style: none;
}

.container {
    max-width: var(--max-width-content-xs);
    margin: 50px auto 0;
}



.content {
    width: 100%;
    max-width: var(--max-width-content-xs);
    margin: 20px auto;
    justify-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: var(--width-sm);
}

.btn {
    padding: var(--spacing-md) var(--spacing-lg);
    background-color: transparent;
    border: none;
    border-radius: var(--border-radius-md);
    font-size: var(--fs-md);
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
}

.text-wrap .btn {
    margin-right: 10px;
}

.image-container img {
    width: 100%;
}

.warning {
    font-size: var(--fs-sm);
    color: var(--primary-color);
}

/*header*/
header.header {
    margin-top: 0;
}
.header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}

.right-header {
    display: flex;
    gap: 10px;
}

.right-header .social-media {
    display: none;
}


/*hero*/
.hero .content,
.discount .content,
.bonus .content,
.features .content,
.testimonals .content,
.footer .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.text-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}


.hero {
    background: var(--mobile-gradient-color);
    padding: var(--spacing-lg);
}

.rating {
    font-size: var(--fs-sm);
}



/*features*/
.card {
    padding: var(--spacing-lg);
    box-shadow: var(--shadow-lg);
    border-radius: var(--border-radius-lg);
    width: var(--card-width-sm);
}

.card-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.card-img-rounded img {
    border-radius: var(--border-radius-md);
    width: var(--card-img-width-sm);
}

.card-title {
    font-size: var(--fs-sm);
    font-weight: bolder;
}

.card-body p {
    color: var(--light-color);
}


/*discount*/


/*bonus*/
.bonus ul {
    list-style: none;
}

.bonus ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: var(--fs-sm);
    color: var(--light-color);
}

.bonus ul li::before {
    content: url("./Images/Icons/list-style.svg");
    margin-right: 10px;
}

/*testimonals*/
.testimonals {
    margin-top: 50px;
}

.card-footer {
    margin-top: 20px;
}

.card-img-oval {
    margin-bottom: 5px;
    border-radius: 45%;
}

.card-img-oval img {
    width: var(--card-img-width-sm);
}

.card .profession {
    margin-top: 10px;
    color: var(--light-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*faqs*/
.faqs h1,
.faqs h2 {
    text-align: center;
}

.faqs ul {
    list-style: none;
    margin-top: var(--spacing-sm);
}

.faqs ul li {
    font-size: var(--fs-sm);
    padding: var(--spacing-md);
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--spacing-md);
    border-bottom: 0.5px solid var(--light-color);
}

.faq-answer {
    padding: var(--spacing-md);
    box-shadow: var(--inside-shadow);
    display: none;
}

.angle-bracket {
    cursor: pointer;
    margin-right: 10px;
}

.faq-question:hover+.faq-answer,
.faq-question:active+.faq-answer {
    display: block;
}

.angle-bracket:hover,
.angle-bracket:active {
    transform: rotatez(-90deg);
    transition: all 0.3s;
}

/*last-cta*/
.last-cta .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.last-cta p {
    color: var(--light-color);
}

/*footer*/
.footer .content {
    align-items: start;
    justify-items: start;
}
.footer h3,
h4,
.footer li {
    margin: 8px 0;
}

.input-area {
    position: relative;
    margin-bottom: var(--spacing-sm);
}

input {
    border:  1px solid var(--primary-color);
    border-radius: var(--border-radius-md);
    outline: none;
    padding: var(--spacing-sm);
    width: 100%;
    height: 40px;
}

.footer .btn {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    position: absolute;
    right: 0;
    top: 0;
}

.copyright {
    text-align: center;
    padding-top: var(--spacing-lg);
}

@media screen and (min-width: 480px) {
    .container {
        max-width: var(--max-width-sm-container);
    }

    .content {
        max-width: var(--max-width-content-sm);
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: var(--max-width-md-container);
    }

    .content {
        max-width: var(--max-width-content-md);
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: var(--max-width-lg-container);
    }

    .content {
        max-width: var(--max-width-content-lg);
    }
}


@media screen and (min-width: 1200px) {
    .container {
        max-width: var(--max-width-xl-container);
    }

    .content {
        max-width: var(--max-width-content-xl);
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: var(--max-width-xxl-container);
    }

    .content {
        max-width: var(--max-width-content-xxl);
    }
}